In [ ]:
""" ['Hello', 'World', 'Huston', 'we', 'are', 'here'] should become -> ['World', 'Huston', 'we', 'are']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['Hello', 'World']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['are', 'here']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['are']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['Hello', 'Huston', 'are']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['here', 'are', 'we', 'Huston', 'World', 'Hello']
('Hello', 'World', 'Huston', 'we', 'are', 'here') should become -> ['World', 'Huston', 'we', 'are']
'Hello World Huston we are here' -> 'World Huston we' """

In [3]:
a1 = ['Hello', 'World', 'Huston', 'we', 'are', 'here']
#should become -> ['World', 'Huston', 'we', 'are']
a1 = a1[1:5]
a1

['World', 'Huston', 'we', 'are']

In [4]:
a2 = ['Hello', 'World', 'Huston', 'we', 'are', 'here'] 
#-> ['Hello', 'World']
a2 = a2[:2]
a2

['Hello', 'World']

In [6]:
a3 = ['Hello', 'World', 'Huston', 'we', 'are', 'here'] 
#-> ['are', 'here']
a3 = a3[-2:]
a3

['are', 'here']

In [8]:
a4 = ['Hello', 'World', 'Huston', 'we', 'are', 'here'] 
#-> ['are']
a4 = a4[-2:-1]
a4

['are']

In [9]:
a5 = ['Hello', 'World', 'Huston', 'we', 'are', 'here'] 
#-> ['Hello', 'Huston', 'are']

result = []

# In this code, the range(0, len(a5), 2) generates a sequence of indices where the step is 2, so it will iterate through every other index in the list. Then, the words at those indices are appended to the result

# looper igennem
for i in range(0, len(a5), 2):
    result.append(a5[i])

print(result)

['Hello', 'Huston', 'are']

In [16]:
a6 = ['Hello', 'World', 'Huston', 'we', 'are', 'here'] 
#-> ['here', 'are', 'we', 'Huston', 'World', 'Hello']

r= reversed(a6)

for i in r:
   print(i)

## Anden måde at få det på én linje
reversed_a6 = a6[::-1]

result = ' '.join(reversed_a6)
print(result)

here
are
we
Huston
World
Hello
here are we Huston World Hello

### Fra tuple to list med list()

In [19]:
a7 = ('Hello', 'World', 'Huston', 'we', 'are', 'here') 
# -> ['World', 'Huston', 'we', 'are']

a7_list = list(a7[1:-1])
print(a7_list)

['World', 'Huston', 'we', 'are']

### Split a string into a list of words

In [20]:
a8 = 'Hello World Huston we are here' 
# -> 'World Huston we'

words = a8.split()  # Split the string into a list of words
selected_words = words[1:4]  # Select the words you want (index 1 to 3)
result = ' '.join(selected_words)  # Join the selected words back into a string
print(result)

World Huston we

### Ex 1: Build-in functions - liste over alle

In [ ]:


# A
abs()
aiter()
all()
anext()
any()
ascii()

# B
bin()
bool()
breakpoint()
bytearray()
bytes()

# C
callable()
chr()
classmethod()
compile()
complex()

# D
delattr()
dict()
dir()
divmod()

# E
enumerate()
eval()
exec()

# F
filter()
float()
format()
frozenset()

# G
getattr()
globals()

# H
hasattr()
hash()
help()
hex()

# I
id()
input()
int()
isinstance()
issubclass()
iter()

# L
len()
list()
locals()

# M
map()
max()
memoryview()
min()

# N
next()

# O
object()
oct()
open()
ord()

# P
pow()
print()
property()

# R
range()
repr()
reversed()
round()

# S
set()
setattr()
slice()
sorted()
staticmethod()
str()
sum()
# super only valid within a class: super()

# T
tuple()
type()

# V
vars()

# Z
zip()

### Built in functions on a list

In [25]:

names = ['George', 'Bejamin', 'Thomas', 'John']


# A
print("all:", all(names))  # True (all elements are truthy)
print("any:", any(names))  # True (at least one element is truthy)

# B
print("bin:", bin(42))  # '0b101010' (binary representation of 42)
print("bool:", bool(names))  # True (list is not empty)

# C
print("chr:", chr(65))  # 'A' (character for ASCII code 65)

# E
enum_names = enumerate(names)
for index, name in enum_names:
    print("enumerate:", index, name)

# F
filtered_names = filter(lambda name: len(name) > 5, names)
print("filter:", list(filtered_names))  # ['George', 'Bejamin', 'Thomas']

# L
print("len:", len(names))  # 4

# M
mapped_names = map(lambda name: name.upper(), names)
print("map:", list(mapped_names))  # ['GEORGE', 'BENJAMIN', 'THOMAS', 'JOHN']

# R
print("reversed:", list(reversed(names)))  # ['John', 'Thomas', 'Bejamin', 'George']

# S
print("Sorted-names:", sorted(names))  # ['Bejamin', 'George', 'John', 'Thomas']

# Z
numbers = [1, 2, 3]
letters = ['A', 'B', 'C']
zipped = zip(numbers, letters)
print("zip:", list(zipped))  # [(1, 'A'), (2, 'B'), (3, 'C')]

all: True
any: True
bin: 0b101010
bool: True
chr: A
enumerate: 0 George
enumerate: 1 Bejamin
enumerate: 2 Thomas
enumerate: 3 John
filter: ['George', 'Bejamin', 'Thomas']
len: 4
map: ['GEORGE', 'BEJAMIN', 'THOMAS', 'JOHN']
reversed: ['John', 'Thomas', 'Bejamin', 'George']
sorted: ['Bejamin', 'George', 'John', 'Thomas']
zip: [(1, 'A'), (2, 'B'), (3, 'C')]

## Ex 1.1: Is it a tuple or a list?

In [27]:
# A list is a collection of the same type of data, a tuple is a record (e.g. in a database a record is called a row

b1 = ('Claus', 51, 'male', 'clbo@kea.dk', 31011970-1313)
print(type(b1)) # tuple

b2 = ['Bmw', 'Toyota', 'Hyundai', 'Skoda', 'Fiat', 'Volvo']
print(type(b2)) # list

#b3 = [Claus, Henning, Torben, Carl, Tine]
# list

#b4 = ‘Hello’, ‘World’, ‘Huston’, ‘we’, ‘are’, ‘here’
# This is not syntactically valid. To create a list or tuple, you should enclose the elements in either square brackets [ ] or parentheses ( ).

#b5 = (Rolling Stones, Goats Head Soup, 31 August 1973, 46:56)
# tuple, men mangler '' omkring tekst

#b6 = (40.730610, -73.935242, New York City, NY, USA; 31.739847, 65.755920, Kandahar, Kandahar Province, Afghanistan)
# tuple, men mangler '' omkring tekst

<class 'tuple'>
<class 'list'>

## Ex 2: Sort a Text

## 1. Create a function that takes a string as a parameter and returns a list.

In [30]:
def return_list_from_string(string):
    return list(string)
  
print(return_list_from_string('ABCDE'))

['A', 'B', 'C', 'D', 'E']

## 2. The function should remove all vowels and sort the consonants in alphabetic order, and the return the result.

In [31]:
input_string = "Hello World"
vowels = ['a','e','i','o','u','y','æ', 'ø', 'å']

def remove_vowels_and_sort_consonants(string):
    vowels = 'AEIOUaeiou'
    consonants = [char for char in string if char.isalpha() and char not in vowels]
    sorted_consonants = sorted(consonants)
    result = ''.join(sorted_consonants)
    return result


result = remove_vowels_and_sort_consonants(input_string)
print(result)  # This will print "HllWrld"

HWdlllr

## 3. Sort a list

In [ ]:
# 3.1 Create a list of strings with names in it. (l = [‘Claus’, ‘Ib’, ‘Per’])

listOfNames = ['Marcus', 'Tommy', 'Sebastian']

# 3.1 Sort this list by using the sorted() build in function.

sorted_names = sorted(listOfNames, key=len)
print(sorted_names)



# 3.2 Sort the list in reversed order.

### OBS OBS husk at bruge et for loop når man benytter reversed()

for i in reversed(listOfNames):
   print(i)



# 3.3 Sort the list on the lenght of the name.

# 3.3 Sort the list based on the last letter in the name.

# 3.4 Sort the list in a way that the names that has an ‘a’ in it should be sorted first (still alphabetically).

In [70]:
listOfNames = ['Marcus', 'Tommy', 'Sebastian']

sorted_names = sorted(listOfNames, key=len)
print(sorted_names)

TypeError: 'list' object is not callable